<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--springboot 使用 Thymeleaf 标签时会报元素类型必须由匹配的结果标记终止-->
    <meta charset="UTF-8"/>
    <title>500</title>
</head>
<body>
    <h2>服务器内部错误</h2>
    <p th:text="'timestamp: ' + ${timestamp} " />
    <p th:text="'status: ' + ${status} " />
    <p th:text="'error: ' + ${error} " />
    <p th:text="'exception: ' + ${exception} " />
    <p th:text="'message: ' + ${message} " />
    <p th:text="'id: ' + ${ext.id} " />
    <p th:text="'msg: ' + ${ext.msg} " />
    <p th:text="'pro: ' + ${pro} " />
</body>
</html>